\:root
// var(--color-white) всё белое
    --color-white:                          #FFFFFF

// var(--color-gray-1) для серого фона в секции Features
	--color-gray-1:							#F7F9FB

// var(--color-gray-2) фон выпадающего меню переключения языка, прогресс бар карусели Stage, бордер в карточке
	--color-gray-2:							#E4E4E4

// var(--color-dots) синие фоновое точки слева
	--color-dots:							#38357E

// var(--color-black-1) для заголовков и отдельных надписей
    --color-black-1:                        #14121E

// var(--color-black-2) только для основного текста и текста под заголовками Features
    --color-black-2:                        #363636

// var(--color-blue) для фона секций, ховера хедера, активный прогресс бар карусели Stage и фона кнопки языка
    --color-blue:							#24B6FF

// var(--color-blue-circle) для кнопки первого слайдера и фона
    --color-blue-circle:					#0099FF

// var(--color-blue-circle-active) для активной кнопки первого слайдера    
  	--color-blue-circle-active:				#4DB8FF


// var(--color-green) для ховера футера, основных кнопок и подчёркиваний заголовков
    --color-green:							#31C5A1

// var(--color-green-active) для активных основных кнопок
    --color-green-active:							#31C5A1


    