.marquee 
  overflow: hidden
  white-space: nowrap
  cursor: default
  user-select: none


.marquee__inner 
  display: inline-block

.crush
  &-bottom
    margin-top: gem(120)
    position: relative
    z-index: 10  
    .owl-carousel .owl-stage
      left: gem(95)
  &-item
    display: flex
    width: gem(342)
    background: #fff
    margin: auto

