@import './common/vars.sass'
@import './common/gem.scss'
@import '../libs/owl/owl.carousel.css'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none



//start here
img
    width: 100%
    height: auto
section
    z-index: 5
.underlined_text
    display: inline
    span
        display: inline-block
        position: relative
        &:after
            display: flex
            position: absolute
            content: ''
            width: 100%
            background: var(--color-green)
            height: gem(7)
            bottom: gem(12)
            z-index: -1
.header
    position: fixed
    z-index: 10
    width: 100%
    top: 0
    left: 0
    // padding-top: gem(24)
    transition: all 0.3s ease
    .main_button
        margin-right: gem(195)
        height: gem(60)
        opacity: 0
        pointer-events: none
        transform: translateY(gem(-10))
        transition: all 0.3s ease
    &.active
        background: #fff
        .main_button.active
            opacity: 1
            pointer-events: unset
            transform: translateY(0)
        .header-main
            .language-active
                background: var(--color-blue)
            .language
                background: var(--color-blue-lite)
                span.label-1
                    color: #fff
                &-menu
                    a
                        color: #fff
                svg
                    path
                        fill: #ffffff
    &-main
        display: flex
        justify-content: space-between

        align-items: center
        height: gem(109)
        &-left
            display: flex
            align-items: center
        &-right
            align-items: flex-start
        .logo
            display: flex
            margin-right: gem(38)
            img
                width: gem(84)
        .menu
            display: flex
            align-items: center
            justify-content: space-between
            &-list
                display: flex
                a
                    margin: 0 gem(15)
                    transition: all ease 0.3s
                a:first-child
                    margin-left: 0
                a:last-child
                    margin-right: 0
                a:hover
                    color: var(--color-blue)
                    transition: all ease 0.3s
        .language
            right: 0
            top: gem(25)
            display: flex
            position: absolute
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start
            width: gem(79)
            height: gem(58)
            border-radius: gem(30)
            z-index: 10
            cursor: pointer
            background: var(--color-gray-2)
            transition: all 0.3s ease
            &.active
                height: auto
                .language-active
                    svg
                        transform: rotate(180deg)
            &-active
                display: flex
                align-items: center
                justify-content: center
                width: gem(79)
                height: gem(58)
                border-radius: gem(30)
                background: var(--color-white)
                transition: all 0.3s ease
            span
                margin-right: gem(8)
                transition: all 0.3s ease
            svg
                width: gem(10)
                height: hem(5.5)
                transition: all 0.3s ease
                path
                    width: 100%
                    fill: #14121E
                    transition: all 0.3s ease
            &-menu
                display: none
                position: relative
                flex-direction: column
                justify-content: center
                align-items: center
                width: gem(79)
                height: auto
                border-radius: 0 0 gem(30) gem(30)
                // bottom: gem(-124)
                // z-index: 5
                a
                    color: black
                    padding: gem(12) 0
                    text-decoration: none
                    display: flex
                    transition: all 0.3s ease
                    // margin-right: gem(16)
                a:first-child
                    padding-top: gem(26)
                a:last-child
                    padding-bottom: gem(26)
            &-menu a:hover
                color: var(--color-blue)

            .language:hover
                img
                    transform: rotate(180deg)
                .language-menu
                    display: flex
.opening
    &-section
        position: relative
        padding-top: gem(180)
    &-bgr
        position: absolute
        right: 0
        top: 0
        background: var(--color-blue)
        background-size: cover
        width: gem(342)
        height: gem(810)
    &-dots
        position: absolute
        left: 0
        bottom: gem(-73)
        // width: gem(248)
        // height: gem(194)
        img
            width: gem(230)
            height: gem(194)
    &-main
        display: flex
        justify-content: space-between
        align-items: flex-start
        &-text
            display: flex
            flex-direction: column
            max-width: gem(420)
            p
                display: flex
                margin-top: gem(42)
                margin-bottom: gem(59)
        &-pics
            display: flex
            width: gem(400)
            flex-direction: column
            // padding-bottom: gem(180)
.carousel-nav
    display: flex
    flex-direction: column
    align-items: center
    margin-right: gem(55)
    position: relative
    bottom: gem(75)
    z-index: 10
    .carousel-prev, .carousel-next
        width: gem(57)
        height: gem(57)
        display: flex
        justify-content: center
        align-items: center
        border-radius: 100%
        background: #fff
        cursor: pointer
        box-shadow: gem(-4) 0 gem(20) 0 rgba(208, 208, 208, 0.3)
        transition: all 0.3s ease
        transform: rotate(180deg)
        &:hover
            box-shadow: gem(-4) 0 gem(20) 0 rgba(208, 208, 208, 0)
        img
            width: gem(18)
    .carousel-next
        margin-top: gem(13)
        img
            transform: rotate(-180deg)
.owl-carousel .owl-dots
    display: flex
    margin-left: gem(50)
    margin-top: gem(80)
    .owl-dot
        background: #fff
        border-radius: 50%
        width: gem(21)
        height: gem(21)
        display: flex
        align-items: center
        justify-content: center
        margin-right: gem(8)
        transition: all 0.3s ease
        // border: gem(10) #fff solid
        &:last-child
            margin-right: 0
        &:after
            content: ''
            display: flex
            background: var(--color-blue-circle)
            width: gem(9)
            height: gem(9)
            border-radius: 50%
            transition: all 0.3s ease
            border: gem(3) #fff solid
        &.active
            background: var(--color-blue-circle)
            &:after
                background: var(--color-blue-circle-active)
                border: gem(3) #fff solid

.main_button
    display: flex
    justify-content: center
    align-items: center
    background: var(--color-green)
    width: gem(228)
    height: gem(70)
    border-radius: gem(100)
    transition: all ease 0.3s
    cursor: pointer
.main_button:hover
    background: var(--color-green-active)
    transition: all ease 0.3s

.decor-section
    display: flex
    margin-top: gem(189)
    margin-bottom: gem(146)
    span
        margin: 0 gem(100)
.crush
    &-section
        position: relative
        width: 100%
        height: gem(765)
    &-bgr
        position: absolute
        right: 0
        top: 0
        background: url(../img/bgr-crush.png) no-repeat
        background-size: 100% 100%
        width: 100%
        height: gem(765)
        img
            width: gem(1140)
            height: gem(765)
    &-main
        display: flex
        &-top
            display: flex
            width: 100%
            justify-content: space-between
        &-text
            display: flex
            flex-direction: column
            max-width: gem(377)
            h2
                // display: flex
                max-width: gem(257)
                margin-top: gem(20)
            p
                display: flex
                margin-top: gem(26)
                margin-bottom: gem(59)
        &-pics
            display: flex
            width: gem(520)
            height: gem(294)
            position: relative
            top: gem(-57)
            &-small
                display: flex
                width: gem(158)
                height: gem(315)
                position: absolute
                right: gem(-61)
                top: gem(120)
        &-bottom
            display: flex
.brilliant
    &-section
        position: relative
        padding-top: gem(180)
        margin-top: gem(317)
    &-bgr
        position: absolute
        left: 0
        top: 0
        background: url(../img/brilliant-bgr.png) no-repeat
        background-size: cover
        width: gem(456)
        height: gem(493)
    &-main
        display: flex
        justify-content: space-between
        flex-direction: row-reverse
        &-text
            display: flex
            flex-direction: column
            max-width: gem(420)
            p
                display: flex
                margin-top: gem(42)
                margin-bottom: gem(140)
        &-pics
            display: flex
            width: gem(482)
            height: gem(319)
.features
    &-section
       padding: gem(90) 0
       background: var(--color-gray-1) no-repeat
    // &-bgr
    //     position: absolute
    //     left: 0
    //     top: 0
    //     background: var(--color-gray-1) no-repeat
    //     background-size: cover
    //     width: 100%
    //     height: auto
    &-main
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &-element
            display: flex
            flex-direction: column
            max-width: gem(230)
            img
                width: gem(57)
                height: gem(40)
            span
                margin-top: gem(15)
                margin-bottom: gem(20)
.everything
    &-section
        margin-top: gem(90)
        padding-bottom: gem(58)
    &-bgr
        position: absolute
        left: 0
        bottom: 0
        background: url(../img/everything-bgr.png) no-repeat
        background-size: cover
        width: 100%
        height: gem(493)
    &-main
        display: flex
        flex-direction: column
        h2
            width: 100%
            text-align: center
            margin-bottom: gem(178)
        &-cards
            display: flex
            justify-content: space-between
            position: relative
            bottom: gem(-116)
            &-element
                display: flex
                flex-direction: column
                align-items: center
                width: gem(274)
                padding-top: gem(30)
                padding-bottom: gem(24)
                background: var(--color-white)
                box-shadow: 0 gem(4) gem(20) rgba(222, 222, 222, 0.3)
                border-radius: gem(16)
                span.label-2
                    margin-bottom: gem(10)
                span.desc-2
                    margin-bottom: gem(16)
                &-list
                    margin-bottom: gem(23)
                .main_button
                    width: gem(147)
                    height: gem(48)
.sponsors-section
    display: flex
    flex-direction: column
    margin-top: gem(189)
    margin-bottom: gem(146)
    &-text
        span
            margin: 0 gem(50)
    &-pics
        display: flex
        justify-content: center
        margin-top: gem(5)
        img
            width: gem(172)
            height: auto
.free
    &-section
        display: flex
        flex-direction: column
        align-items: center
        background: var(--color-blue)
        padding: gem(73) 0 gem(90) 0
        h2
            margin-bottom: gem(30)
            text-align: center
.remote
    &-section
        position: relative
        padding-top: gem(180)
        padding-bottom: gem(225)

    &-main
        display: flex
        justify-content: space-between
        &-text
            display: flex
            flex-direction: column
            max-width: gem(420)
            p
                display: flex
                margin-top: gem(42)
.works
    &-section
        position: relative
        width: 100%
    &-bgr
        position: absolute
        right: 0
        top: 0
        background: url(../img/works-bgr.png) no-repeat
        background-size: 100% 100%
        width: 100%
        height: gem(900)
    &-big_pics
        display: flex
        position: absolute
        width: gem(798)
        height: gem(540)
        top: gem(-180)
        left: 0
        &-arrow
            display: flex
            position: absolute
            top: gem(-167)
            right: 0
            width: gem(140)
            height: gem(140)
    &-main
        display: flex
        width: 100%
        justify-content: space-between
        &-text
            display: flex
            flex-direction: column
            margin-top: gem(511)
            max-width: gem(377)
            h2
                display: flex
                max-width: gem(257)
            p
                display: flex
                margin-top: gem(26)
                margin-bottom: gem(59)
        &-pics
            display: flex
            position: absolute
            right: 0
            bottom: 0
            width: gem(570)
            height: gem(360)
.works2
    &-section
        position: relative
        margin: gem(180) 0
    &-main
        display: flex
        justify-content: space-between
        flex-direction: row-reverse
        &-text
            display: flex
            flex-direction: column
            max-width: gem(420)
            margin-top: gem(150)
            p
                display: flex
                margin-top: gem(42)
                margin-bottom: gem(140)
        &-pics
            display: flex
            position: absolute
            left: 0
            width: gem(540)
            height: gem(540)
.footer
    display: flex
    flex-direction: column
    align-items: center
    background: var(--color-blue)
    width: 100%
    height: gem(164)
    &-main
        display: flex
        padding-top: gem(45)
        display: flex
        flex-direction: column
        align-items: center
        &-top
            display: flex
            &-logo
                display: flex
                margin-right: gem(231)
                width: gem(84)
                height: gem(21)
            &-menu
                display: flex
                margin-right: gem(181)
                a
                    margin: 0 gem(15)
                    transition: all ease 0.3s
                a:first-child
                    margin-left: 0
                a:last-child
                    margin-right: 0
                a:hover
                    color: var(--color-green)
                    transition: all ease 0.3s
            &-social
                display: flex
                width: gem(133)
                height: gem(21)
    &-copyright
        display: flex
        margin-top: gem(21)
        max-width: gem(121)
        text-align: center